/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Montserrat:wght@300&family=Oswald:wght@200;300&display=swap');

h1{
    font-family: 'Lacquer', cursive;
    color: tomato;
    margin-bottom: 2rem;
}
h3{
    font-family: 'Lacquer', cursive;
    color: #454444;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.page-title{
    padding: 0;
}
/* =============================
        left content
================================ */
.left-content{
    width: 50%;
    position: relative;
    float: left;
}
.left-content .carousel-inner img{
    height: 100vh;
}
.header-top{
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

}

.menu-icon i{
    color: #fff;
    float: right;
    padding: 44px 10px;
    font-size: 30px;
}
.menu-icon i:hover{
    cursor: pointer;
}
/* navigation */
.main-menu{
    position: absolute;
    top:105px;
    left: 0;
    background: rgb(41, 41, 40);
    z-index: 999;
    width: 100%;
    display: none;
}
.main-menu ul{
    text-align: center;
    list-style-type: none;
    
}
.main-menu ul li{
    padding: 10px 0;
} 
.main-menu ul li a{
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.main-menu ul li a:hover{
    color: tomato;
}
/* =============================
        right-content 
================================*/
.right-content{
    float: right;
    width: 50%;
    height: 100vh;
    overflow: auto;

}
.right-content .featured-images img{
    width: 100%;
    height: auto;
}
.right-content .about-images img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 30px 0;
}
.service-content{
    box-shadow: 20px 20px 40px gainsboro;
    border-radius: 5px;
    margin-bottom: 50px;
}
.section-content-about{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20%;
}
.about-images,
.about-text{
    
}
.about-content{
    
}
/* ==================
        wigets
===================== */
.wigets{
    padding: 20px 10px;
}
.wigets-content{}
.wigets-content ul{
    padding: 0;
    list-style-type: none;

}
.wigets-content ul li{
    padding: 10px 0;
}
.wigets-content ul li a{
    padding: 5px 0;
    color: rgb(54, 54, 54);
    display: block;
    font-family: 'Oswald', sans-serif;
}
.wigets-content ul li a:hover{
    color: tomato;
}

/* footer{
    padding: 20px;
    text-align: center;
    color: #000;
} */

/* Responsive  */

@media (max-width: 960px) {
    .left-content,
    .right-content{
        width: 100%;
        float: none;
    }
    .right-content{
        height: auto;
    }
}